.caixa {
    margin-left: auto;
    margin-right: auto;
    border: 1px #333;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.botao {
    margin-top: 30px;
    text-align: center;
}


.botao button {
    border: 1px #333;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
}

h1 {
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}